.sidebar {
  width: 200px;
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebarList {
  list-style-type: none;
  padding: 0;
}

.sidebarLink {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebarLink:hover {
  background-color: #9b8f8f;
}

.icon {
  margin-right: 8px;
}
